doc/man/man3
doc/html
doc/latex
doc/info
doc/stamp-vti
doc/version.texi
png/
src/logic_analyzer
src/.deps
debian/
*.o
*~
*.log
*.status
src/Makefile
doc/Makefile
doc/Doxyfile
doc/doxyfile.stamp
Makefile
autom4te.cache/
INSTALL 
Makefile.in
aclocal.m4 
configure 
depcomp 
doc/Makefile.in 
doc/logic_analyzer.info 
doc/mdate-sh 
doc/texinfo.tex 
install-sh 
missing 
src/Makefile.in
compile
doc/doxygen_sqlite3.db
